* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box1-content {
    display: grid;
    gap: 1rem;

}

.box1 a {
    text-decoration: none;
    color: black;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

li {
    list-style: none;
}

li a:hover {
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 10rem;
    padding: 14px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box2 nav {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.box2{
    border-right: 1px solid rgba(128, 128, 128, 0.514); 
    border-left: 1px solid rgba(128, 128, 128, 0.514);

}
.content-box {
   padding: 1rem;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 10px;
    display: grid;
    width: 348px;
    height: 320px;
    
}
.texto-box{
    font-size: 13px;
    color: rgb(83, 100, 113);
    font-weight: 400;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

button {
    border-radius: 10rem;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
   
}

button:hover{
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 10rem;
}

.box3 article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer{
    width: 350px;
    height: 40px;
    font-weight: 400;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #777;
    font-size: 13px;
}

.footer a{
    padding-top: 1rem;
    color: #777;
    
    text-decoration: none;
    
}

.footer a:hover{
    text-decoration: underline;
}

.link{
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.google a{
    text-decoration: none;
    color: black;
}

.apple a{
    text-decoration: none;
    color: black;
}
