* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box1-content {
    display: grid;
    gap: 2rem;
    align-items: center;
    position: fixed;
}

.box1 a {
    text-decoration: none;
    color: black;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.nav-link1:hover {
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 10rem;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.nav-link1 {
    margin-top: 1rem;
}

.nav-link:hover {
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 10rem;
    padding: 12px;
}

.nav-link img {
    margin-right: 1rem;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box2 nav {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    background-color: rgba(191, 193, 195, 0.15);
    height: 53px;
    cursor: pointer;
}

.config:hover{
    background-color: #bab6b6;
    border-radius: 5rem;
}
.box2 {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(128, 128, 128, 0.514);
    border-left: 1px solid rgba(128, 128, 128, 0.514);
    width: 50%;

}


.content-box {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 10px;
    display: grid;
    width: 348px;
    height: 320px;
    padding: 1rem;
    margin-top: 1rem;
}


.texto-box {
    font-size: 13px;
    color: rgb(83, 100, 113);
    font-weight: 400;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

.texto-box a:hover {
    text-decoration: underline;
}

.box3 button {
    border-radius: 10rem;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}

.box3-content{
    position: fixed;
    right: 0;

}
button:hover {
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 10rem;
}

.box3 article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.footer {
    width: 350px;
    height: 40px;
    font-weight: 400;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #777;
    font-size: 13px;
}

.footer a {
    padding-top: 1rem;
    color: #777;

    text-decoration: none;

}

.footer a:hover {
    text-decoration: underline;
}

.link {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.google a {
    text-decoration: none;
    color: black;
}

.apple a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(29, 155, 240);
    padding: 1.5rem;
    width: 100%;
    align-items: center;
    position: fixed;
  bottom: 0;
}

.texto-footer {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
}

#error {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.inscrever {
    width: 125px;
    height: 36px;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 10rem;
    cursor: pointer;
}

.entrar {
    width: 78px;
    height: 36px;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 10rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: .2rem;
    justify-content: end;
    align-items: end;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 650px;
    height: 550px;
    border-radius: 2rem;
    text-align: center;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.linha {
    margin-left: .5rem;
    width: 16rem;
    height: 0px;
    border: 1px solid #C1BAB2;
    margin-bottom: 1rem;
}

.modal-fechar {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: 1rem;
}

.header-modal {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 17rem;
}

#avancar {
    width: 300px;
    height: 40px;
    border-radius: 10rem;
    background-color: #000;
    color: white;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#senha {
    width: 300px;
    height: 40px;
    border-radius: 10rem;
    background-color: #fff;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.514);
}

.modal-fechar:hover,
.modal-fechar:focus {
    color: #000;
    background-color: #b5b3b3;
    border-radius: 20rem;
    width: 30px;
    text-decoration: none;
    cursor: pointer;
}


#titulo-modal {
    font-size: 31px;
    font-weight: 700
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 1.5rem;
    border: 1px solid #C1BAB2
}

.google-modal {
    width: 300px;
    height: 40px;
    border-radius: 10rem;
    background-color: #fff;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.514);
}

.apple-modal {
    width: 300px;
    height: 40px;
    border-radius: 10rem;
    background-color: #fff;

    border: 1px solid rgba(128, 128, 128, 0.514);
}

.apple-modal a {
    text-decoration: none;
    color: #000;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.google-modal a {
    text-decoration: none;
    color: #000;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.google-modal:hover {
    background-color: rgba(128, 128, 128, 0.363);
}

.apple-modal:hover {
    background-color: rgba(128, 128, 128, 0.363);
}

.inscricao a {
    text-decoration: none;
    color: rgb(29, 155, 240);
}

